@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar,
::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html,
body {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

html,
* {
	font-family: 'Roboto Mono', monospace;
}

.prose {
	font-size: 1.25rem;
}

#progress-bar {
	height: 4px;
	background: #048eaa;
	width: 0%;
	position: fixed;
	z-index: 100;
}
